@font-face {
    font-family: ABeeZee;
    src: url(ABeeZee.ttf);
}

body {
    font-family: 'ABeeZee';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

h1 {
    font-size: 28px;
    margin: 0;
}

.eco {
    color: #006400; /* Donkergroen */
    font-weight: bold;
}

.bite {
    color: #32CD32; /* Lichter groen */
    font-weight: bold;
}

h2 {
    font-size: 22px;
    margin-top: 10px;
    color: #333;
}

p {
    font-size: 14px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: green;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #006400;
}

#message {
    margin-top: 10px;
    font-size: 14px;
}